%h1 
  Outbreak 
  = @outbreak.id
%table.table-condensed.single-outbreak
  %tr
    %td Type
    %td= @outbreak.cdc_type
  %tr 
    %td Reporting State
    %td= @outbreak.reporting_state
  %tr
    %td Reporting County
    %td= @outbreak.reporting_county
    
  %tr
    %td First Illness
    %td= @outbreak.first_illness.try(:strftime, "%_m/%-d/%Y")
    
  %tr
    %td Last Illness
    %td= @outbreak.last_illness.try(:strftime, "%_m/%-d/%Y")
  %tr
    
    %td Illnesses
    %td= @outbreak.illnesses
    
  %tr
    %td Hospitalizations
    %td= @outbreak.hospitalizations

  %tr
    %td Deaths
    %td= @outbreak.deaths
    
  %tr
    %td Genus, Species, Serotype
    %td= "#{@outbreak.genus}, #{@outbreak.species}, #{@outbreak.serotype}" 
    
  %tr
    %td Commodity Group
    %td= @outbreak.commodity_group
    
  %tr
    %td Other States Involved
    %td 
      %ul
        - @outbreak.states.each do |s|
          %li= s.state
    
  %tr
    %td Other Counties Involved
    %td 
      %ul
        - @outbreak.counties.each do |c|
          %li= c.county
    
  %tr
    %td Food vehicles
    %td 
      %ul
        - @outbreak.foods.each do |f|
          %li= f.food

  %tr
    %td Where Eaten
    %td 
      %ul
        - @outbreak.locations.each do |l|
          %li= l.location


