%h1 
  Outbreak 
  = @outbreak.id
%dl.dl-horizontal
  %dt Type
  %dd= @outbreak.cdc_type
  
  %dt Reporting State
  %dd= @outbreak.reporting_state
  
  %dt Reporting County
  %dd= @outbreak.reporting_county
  
  %dt First Illness
  %dd= @outbreak.first_illness.try(:strftime, "%_m/%-d/%Y")
  
  %dt Last Illness
  %dd= @outbreak.last_illness.try(:strftime, "%_m/%-d/%Y")
  
  %dt Illnesses
  %dd= @outbreak.illnesses
  
  %dt Hospitalizations
  %dd= @outbreak.hospitalizations

  %dt Deaths
  %dd= @outbreak.deaths
  
  %dt Genus, Species, Serotype
  %dd= "#{@outbreak.genus}, #{@outbreak.species}, #{@outbreak.serotype}" 
  
  %dt Commodity Group
  %dd= @outbreak.commodity_group
  
  %dt Other States Involved
  %dd 
    %ul
      - @outbreak.states.each do |s|
        %li= s.state
  
  %dt Other Counties Involved
  %dd 
    %ul
      - @outbreak.counties.each do |c|
        %li= c.county
  
  %dt Food vehicles
  %dd 
    %ul
      - @outbreak.foods.each do |f|
        %li= f.food

  %dt Where Eaten
  %dd 
    %ul
      - @outbreak.locations.each do |l|
        %li= l.location


