- content_for :javascript do
  :javascript
    $(function() {
      MapApp.start({
        outbreaks_min: #{@outbreaks_min},
        outbreaks_max: #{@outbreaks_max},
        outbreaks: #{@outbreaks_json},
        counties: #{@counties_json},
        states: #{@states_json}
      });
    });
