!!! 5
%html
  %head
    %title Visualization CS64 
    = stylesheet_link_tag "application"
    = javascript_include_tag 'https://www.google.com/jsapi'
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1'}
  %body
    .container
      #header
      #main= yield 
      #footer

